<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DataBase</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body data-bs-theme="dark">
  <div class="container my-5"></div>
  <h1 class="text-center my-5">{{ db_name }}</h1>
  <table class="table">
    <thead>

      <tr>
        {% for columns in columns %}
        <th scope="col">{{columns}}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for row in data %}
      <tr>
        {% for column in columns %}
        <td>{{ row[column] }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>

  </table>

  <!-- Page change Link -->

  <div class="clearfix">
    <div class="float-start">
      <a href="/data/{{table}}?limit={{limit}}&page={{page-1}}" class="fs-4">Previous</a>
    </div>

    <div class="float-end">
      <a href="/data/{{table}}?limit={{limit}}&page={{page+1}}" class="fs-4">Next</a>
    </div>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>